<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://i.imgur.com/iJx6I7Y.png" type="image/x-icon">
    <title>Διαχείριση Παραγγελιών</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header class="top-header">
    <div class="header-content">
                    <span class="admin-panel-text">
                        <span class="admin-word">Admin</span><span class="panel-word">Panel</span>
                    </span>
        <ul class="navbar-nav" style="flex-direction: row">
            <li><a href="/admin/main">Aρχική</a></li>
            <li><a href="/admin/products">Προϊόντα</a></li>
            <li><a href="/admin/orders">Παραγγελίες</a></li>
            <li><a href="/admin/users">Χρήστες</a></li>
            <li><a href="/admin/tickets">Tickets</a></li>
        </ul>
        <span class="profile-icon">
            <a href="/logout" class="btn btn-outline-secondary">Αποσύνδεση</a>
                        <img src="https://i.imgur.com/5UcWQb6.png" alt="Profile Icon">
                    </span>
    </div>
</header>

<main>
    <div class="container-sm p-20 my-5 border rounded" style="background-color: #f4f5f8">
        <h1>Διαχείριση Παραγγελιών</h1>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a th:class="'nav-link ' + ${tab == 'preparing'?'active':''}" aria-current="page" href="/admin/orders?tab=preparing">Preparing</a>
                </li>
                <li class="nav-item">
                    <a th:class="'nav-link ' + ${tab == 'sent'?'active':''}" href="/admin/orders?tab=sent">Sent</a>
                </li>
                <li class="nav-item">
                    <a th:class="'nav-link ' + ${tab == 'delivered'?'active':''}" href="/admin/orders?tab=delivered">Delivered</a>
                </li>
                <li class="nav-item">
                    <a th:class="'nav-link ' + ${tab == 'cancelled'?'active':''}" href="/admin/orders?tab=cancelled">Cancelled</a>
                </li>
            </ul>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total</th>
                    <th scope="col">Address</th>
                    <th scope="col">Client username</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="order: ${orders}" th:data-orderID="${order.getId()}" th:id="${order.getId()}+'Row'">
                        <td th:text="${order.getId()}"/>
                        <td th:text="${order.getCreated()}"/>
                        <td th:text="${order.getStatus()}"/>
                        <td th:text="${order.getTotal()}"/>
                        <td th:text="${order.getAddress()}"/>
                        <td th:text="${order.getUsername()}"/>
                        <td>
                            <button th:if="${order.getStatus().equals('preparing')}" th:name="${order.getId()}" onclick="sendOrder(this)" data-toggle="tooltip" data-placement="top" title="Mark sent">
                                <i class="bi bi-check-square-fill"></i>
                            </button>
                            <button th:if="${!order.getStatus().equals('preparing')}"  th:data-orderId="${order.getId()}" th:data-status="${order.getStatus()}" onclick="showDropModal(this)" data-toggle="tooltip" data-placement="top" title="Change status">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button data-toggle="tooltip" th:data-orderID="${order.getId()}" onclick="showOrderModal(this)" data-placement="top" title="Details">
                                <i class="bi bi-info-square-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<!-- Bottom Footer with Social Media Icons -->
<footer class="social-footer">
    <div class="container">
        <div class="footer-text">
            © 2025 Prospect BookStore. All rights reserved.
        </div>
    </div>
</footer>

<!-- Modal1 -->
<div class="modal fade" id="dropModal" tabindex="-1" aria-labelledby="dropModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="dropModalLabel">Αλλαγή λεπτομεριών</h1>
                <button type="button" class="btn-close" onclick="closeDropModal()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="selectStatus">Change Status:</label>
                    <select class="form-select" aria-label="Default select example" id="selectStatus">
                        <option id="dropPreparing" value="preparing">Preparing</option>
                        <option id="dropSent" value="sent">Sent</option>
                        <option id="dropDelivered" value="delivered">Delivered</option>
                        <option id="dropCancelled" value="cancelled">Cancelled</option>
                    </select>
                    <input type="hidden" value="" id="dropID">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="saveStatus()" class="btn btn-success">Αποθήκευση</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="orderModalLabel">Πληροφορίες Παραγγελίας</h1>
                <button type="button" class="btn-close" onclick="closeOrderModal()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div data-mdb-input-init class="form-outline">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Isbn</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total Price</th>
                            </tr>
                        </thead>
                        <tbody id="modalTable">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    async function sendOrder(element){
        let res = await fetch(`/admin/orders/confirm?orderID=${element.name}`);
        let success = res.json();
        success.then((data) => {
            if (data === true){
                let row = document.querySelectorAll("[data-orderID]");
                row[0].remove();
            }else{
                alert("no");
            }
        });
    }

    let modal;
    let modal2;
    let order;
    document.addEventListener('DOMContentLoaded', () => {
        // Initialize the modal
        modal = new bootstrap.Modal(document.getElementById('dropModal'));
        modal2 = new bootstrap.Modal(document.getElementById('orderModal'));
    });

    function showDropModal(element){
        let id = document.getElementById("dropID");
        if (element.getAttribute("data-status") === "preparing"){
            document.getElementById("dropPreparing").selected = true;
        }else if (element.getAttribute("data-status") === "sent"){
            document.getElementById("dropSent").selected = true;
        }else if (element.getAttribute("data-status") === "delivered"){
            document.getElementById("dropDelivered").selected = true;
        }if (element.getAttribute("data-status") === "cancelled"){
            document.getElementById("dropCancelled").selected = true;
        }
        id.value = element.getAttribute("data-orderId");
        modal.show();
    }

    function showOrderModal(element){
        getOrder(element);
        modal2.show();
    }

    function closeDropModal(){
        modal.hide();
    }

    function closeOrderModal(){
        modal2.hide();
    }

    async function saveStatus(){
        let selStatus = document.getElementById("selectStatus");
        let id = document.getElementById("dropID");
        let res = await fetch(`/admin/orders/changeStatus?orderID=${id.value}&status=${selStatus.value}`);
        let promise = res.json();
        promise.then((data) =>{
            if (data === true){
                document.getElementById(`${id.value}Row`).remove();
                closeDropModal();
            }else{
                alert("There was a problem while updating status.")
            }
        });
    }

    async function getOrder(element){
        let id = element.getAttribute("data-orderID");
        let tBody = document.getElementById("modalTable");
        tBody.innerHTML = "";
        await fetch(`/admin/orders/getOrderDetails?orderID=${id}`)
            .then((response) => response.json())
            .then((data) =>{
                order = {
                    id : data.id,
                    created : data.created,
                    status : data.status,
                    total : data.total,
                    address : data.address,
                    username : data.username,
                    items : data.items
                };
            });
        order.items.forEach((item)=>{
            let row = tBody.insertRow();
            row.insertCell(0).textContent = item.isbn;
            row.insertCell(1).textContent = `${item.price}€`;
            row.insertCell(2).textContent = item.quantity;
            row.insertCell(3).textContent = `${item.totalPrice}€`;
        });
        console.log(order);
    }
</script>

</body>
</html>