<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://i.imgur.com/iJx6I7Y.png" type="image/x-icon">
    <title>Διαχείριση Tickets</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header class="top-header">
    <div class="header-content">
                    <span class="admin-panel-text">
                        <span class="admin-word">Admin</span><span class="panel-word">Panel</span>
                    </span>
        <ul class="navbar-nav" style="flex-direction: row">
            <li><a href="/admin/main">Aρχική</a></li>
            <li><a href="/admin/products">προϊόντα</a></li>
            <li><a href="/admin/orders">παραγγελίες</a></li>
            <li><a href="/admin/users">χρήστες</a></li>
            <li><a href="/admin/tickets">tickets</a></li>
        </ul>
        <span class="profile-icon">
                        <img src="https://i.imgur.com/5UcWQb6.png" alt="Profile Icon">
                    </span>
    </div>
</header>

<main>
    <div class="container-sm p-20 my-5 border rounded" style="background-color: #f4f5f8">
        <h1>Διαχείριση Tickets</h1>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a th:class="'nav-link ' + ${tab == 'opened' ? 'active':''}" aria-current="page" href="/admin/tickets?tab=opened">Opened</a>
                </li>
                <li class="nav-item">
                    <a th:class="'nav-link ' + ${tab == 'resolved' ? 'active':''}" href="/admin/tickets?tab=resolved">Resolved</a>
                </li>
            </ul>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Username</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ticket: ${tickets}">
                    <td th:text="${ticket.getId()}"/>
                    <td th:text="${ticket.getComment()}"/>
                    <td th:text="${ticket.getUsername()}">
                    <td th:text="${ticket.getCreationDate()}"/>
                    <td th:text="${ticket.getStatus()}">
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<!-- Bottom Footer with Social Media Icons -->
<footer class="social-footer">
    <div class="container">
        <div class="footer-text">
            © 2025 Prospect BookStore. All rights reserved.
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js/bootstrap.bundle.js"></script>
<script>
    function changeActiveStatus(element, role){
        let checkbox = document.getElementById(element.id+"Check");
        checkbox.checked = !checkbox.checked;
    }
</script>

</body>
</html>