<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="shortcut icon" href="http://i.imgur.com/iJx6I7Y.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Cart</title>
    </head>
    <body>
        <div class="announcement-bar">
            <span class="announcement-text">Εύκολες πληρωμές</span>
            <span class="announcement-text">Με αντικαταβολή και κάρτα</span>
            <span class="announcement-text">Τηλεφωνικές Παραγγελίες 10:00-17:00</span>
        </div>
        <!-- Top Header -->
        <header class="top-header">
            <div class="header-content d-flex justify-content-between align-items-center">
                <a href="/"><img src="https://i.imgur.com/Ksq7tEh.png" alt="Our logo" class="resized-img"></a>

                <div class="d-flex gap-2">
                    <!-- Show these buttons if user is not logged in -->
                    <div th:unless="${session.username}">
                        <a href="registration.html" class="btn btn-outline-primary">Εγγραφή</a>
                        <a href="login.html" class="btn btn-outline-secondary">Σύνδεση</a>
                    </div>
                    
                    <!-- Show these buttons if user is logged in -->
                    <div th:if="${session.username}">
                        <a href="/" class="btn btn-outline-secondary">Αρχική</a>
                        <a href="/customer" class="btn btn-outline-primary">Ο Λογαριασμός μου</a>
                        <a href="/logout" class="btn btn-outline-secondary">Αποσύνδεση</a>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Page Content -->
        <main>
            <div class="container-sm pt-2 ps-3 pe-3 my-5 border rounded" style="background-color: #f4f5f8">
                <h1>Το καλάθι μου</h1>
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Τίτλος</th>
                        <th scope="col">Τιμή</th>
                        <th scope="col">Ποσότητα</th>
                        <th scope="col">Συνολική Τιμή</th>
                    </tr>
                    <tr th:each="item : ${cart.getItems()}">
                        <th:block th:each="book: ${books}">
                            <td th:if="${item.getIsbn()} == ${book.getIsbn()}" th:text="${book.getTitle()}"/>
                        </th:block>
                        <td th:text="${item.getPrice()}+'€'"/>
                        <th:block th:each="book: ${books}">
                            <td th:if="${item.getIsbn()} == ${book.getIsbn()}">
                                <a th:href="'/cart/setQ?op=minus&isbn='+${item.getIsbn()}+'&stock='+${book.getStock()}">
                                    <button style="background-color: white"><i class="bi bi-dash"></i></button>
                                </a>
                                <span th:text="${item.getQuantity()}"></span>
                                <a th:href="'/cart/setQ?op=plus&isbn='+${item.getIsbn()}+'&stock='+${book.getStock()}">
                                    <button style="background-color: white"><i class="bi bi-plus-lg"></i></button>
                                </a>
                            </td>
                        </th:block>
                        <td th:text="${item.getTotalPrice()}+'€'"/>
                    </tr>
                </table>
                <div>
                    Συνολική Τιμή: <span th:text="${cart.getTotal()}"/>€
                </div>
                <div class="d-flex flex-row justify-content-between p-2">
                    <a href="/cart/clear">
                        <button class="btn btn-primary bg-secondary bg-gradient border border-secondary" id="empty">Καθάρισε το καλάθι</button>
                    </a>
                    <a href="/order">
                        <button class="btn btn-primary bg-success bg-gradient border border-success" id="checkout">Ολοκλήρωση παραγγελίας</button>
                    </a>
                </div>
            </div>
        </main>

        <!-- Bottom Footer with Social Media Icons -->
        <footer class="social-footer">
            <div class="container">
                <div class="social-icons">
                    <a href="https://www.instagram.com" target="_blank" class="social-icon">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://www.twitter.com" target="_blank" class="social-icon">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="https://www.facebook.com" target="_blank" class="social-icon">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="https://www.tiktok.com" target="_blank" class="social-icon">
                        <i class="bi bi-tiktok"></i>
                    </a>
                    <a href="https://www.linkedin.com" target="_blank" class="social-icon">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
                <div class="footer-text">
                    © 2025 Prospect BookStore. All rights reserved.
                </div>
            </div>
        </footer>
    </body>
</html>